NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/blog_db?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_key_change_in_production
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
GOOGLE_CLIENT_ID=611469724829-1bsfbegjfvv7rm18u61fcjeprip5gdgv.apps.googleusercontent.com
